# ==========================
# R
# ==========================
.Rhistory
.RData
.Rproj.user

# ==========================
# Raster data
# ==========================
*.tif
*.tiff
*.ovr
*.aux.xml

# ==========================
# Point clouds
# ==========================
*.las
*.laz

# ==========================
# Large data folders
# ==========================
data_raw/
data_processed/

# ==========================
# ArcGIS / GIS
# ==========================
*.gdb
*.lock
*.dat
*.nit
*.arc
*.tas

# ==========================
# Temporary
# ==========================
*.tmp
*.log